.sfdx
.sfdx/orgs/test-sjcfg0echqzo@demo_company.net/maxrevision.json
.sfdx/orgs/test-sjcfg0echqzo@demo_company.net/metadataTypeInfos.json
.sfdx/orgs/test-sjcfg0echqzo@demo_company.net/sourcePathInfos.json
.sfdx/sfdx-config.json
